@tailwind base;

@layer base {
  :root {
    --cfxs-theme: #AD8D65;

    --cfxs-tc-primary: #ffffff;
    --cfxs-tc-secondary: #aaa;
    --cfxs-tc-tertiary: #676a7a;
    --cfxs-tc-theme: #eb54e6;
    --cfxs-tc-on-button: #ffffff;

    --cfxs-color-info: #0a84ff;
    --cfxs-color-info-non-opaque: rgba(10, 132, 255, 0.12);
    --cfxs-color-warning: #ff9f0a;
    --cfxs-color-warning-non-opaque: rgba(255, 157, 10, 0.12);
    --cfxs-color-error: #B44D4D;
    --cfxs-color-error-non-opaque: #281E1E;
    --cfxs-color-success: #39cc56;

    --cfxs-bg-primary: #090909;
    --cfxs-bg-secondary: #181818;
    --cfxs-bg-e-primary: #282828;
    --cfxs-bg-e-secondary: #202020;

    --cfxs-fill-primary: rgba(126, 126, 143, 0.24);
    --cfxs-fill-secondary: #202020;

    --cfxs-separator-opaque: #2a2a3d;
    --cfxs-separator-non-opaque: rgba(126, 126, 143, 0.24);
  }

  [data-theme='dark'] {
  /*  later */
  }
}
