@tailwind components;

@layer components {
  .wave {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
  }
  .wave:before {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    @apply animate-wave;
  }
  .wave:after {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    @apply animate-wave;
  }
  [type='checkbox']:checked {
    @apply text-theme;
  }
  [type='checkbox']:focus,
  [type='radio']:focus {
    --tw-ring-color: none;
  }
  .absolute-center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
